@import url("https://fonts.googleapis.com/css2?family=Poppins");

.App {
  font-family: Poppins;
  text-align: center;
  max-width: 1000px;
  margin: auto;
  padding: 20px 30px;
  text-transform: uppercase;
}
.HeroSection {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://assets.codepen.io/6060109/agency-hero-image.png");
  height: 500px;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
ul {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  min-width: 200px;
  font-size: 12px;
  padding: 0;
  margin: 0;
}
ul li {
  padding: 20px 0;
  list-style-type: none;
}
.MainText {
  position: absolute;
  top: 40%;
}
.ServicesSection {
  display: block;
  margin: 50px auto;
  color: #133588;
  font-weight: 900;
  max-width: 800px;
}
.ServiceBlocks {
  display: flex;
  color: #806c6c;
  justify-content: space-between;
}
.ServiceBlock {
  display: block;
  margin: 20px;
  max-width: 80%;
  text-align: left;
}
.ServiceBlock img {
  max-width: 100%;
}
.ServiceBlock h5 {
  text-align: left;
  margin: 0;
}
.FooterSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: #133588;
  height: 250px;
  padding: 30px;
}
.FooterSection h2 {
  width: 250px;
}
input {
  border: none;
  border-bottom: 1px solid white;
  color: white;
  text-align: center;
  background-color: #133588;
  width: 50%;
  max-width: 250px;
  padding: 5px;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
button {
  padding: 5px 15px;
}

@media only screen and (max-width: 600px) {
  .ServiceBlocks {
    flex-direction: column;
    align-items: center;
  }
  input {
    width: 80%;
  }
  .ServiceBlock h5 {
    font-size: 20px;
  }
  .MainText {
    padding: 0 10px;
  }
}
